.sshc_content .games_title {
  color: #2F2F2F;
  font: bold 21px/33px \5FAE\8F6F\96C5\9ED1;
  text-align: center;
  background: url(../images/games_title.png) center center no-repeat;
  background-size: 100% auto;
}
.sshc_content_swipe {
  width: 100%;
}
.swiper-container {
  width: 100%;
}

.sshc_content_server {
  height: 32px;
  background: #000000;
  opacity: 0.66;
  font: 13px/32px \5FAE\8F6F\96C5\9ED1;
  color: #ffffff;
  text-indent: 13px;
}
.sshc_content_server span {
  color: #D39E1E;
}
.sshc_content_newlists .newlists_tab {
  width: 100%;
  margin: -1px auto 8px;
  font: 18px/36px \5FAE\8F6F\96C5\9ED1;
}
.sshc_content_newlists .newlists_tab li {
  float: left;
  width: 25%;
  background-color: #706d6e;
  color: #dbdbdd;
  text-align: center;
}
.sshc_content_newlists .newlists_tab .active {
  background-color: #ab9b75;
  color: #6b5825;
}
.sshc_content_newlists .newlists_box {
  width: 94%;
  margin: 0 auto 12px;
}
.sshc_content_newlists .newlists_box li {
  height: 30px;
  font: 13px/30px \5FAE\8F6F\96C5\9ED1;
  color: #342F2F;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 38px;
  position: relative;
}
.sshc_content_newlists .newlists_box li span {
  float: right;
  color: #787878;
}
.sshc_content_newlists .newlists_box li em {
  position: absolute;
  margin-top: 9px;
  margin-left: -38px;
  width: 33px;
  height: 12px;
  color: #ffffff;
  text-indent: 3px;
  font: 8px/12px \5FAE\8F6F\96C5\9ED1;
  background: url(../images/arrows.png) no-repeat;
  background-size: 100% 100%;
}
.sshc_content_newlists .newlists_box li em.gg{
  background: url(../images/arrows_gg.png) no-repeat;
  background-size: 100% 100%;
}
.sshc_content_newlists .newlists_box li em.hd{
  background: url(../images/arrows_hd.png) no-repeat;
  background-size: 100% 100%;
}

.sshc_content_newlists .newlists_box .newlists_more {
  padding-top: 23px;
}
.sshc_content_newlists .newlists_box .newlists_more a {
  display: block;
  margin: 0 auto;
  width: 121px;
  height: 30px;
  font: 0/0 a;
  overflow: hidden;
  background: url(../images/newlist_more.png) no-repeat;
  background-size: 100% 100%;
}
.sshc_content_gifts {
  margin-bottom: 20px;
}
.sshc_content_gifts .gift_bag {
  width: 96%;
  padding: 0 9px;
  margin: 0 auto;
  border-bottom: 4px solid #E8E8E8;
  border-radius: 12px;
  box-sizing: border-box;
}
.sshc_content_gifts .gift_bag .gift_bag_content {
  width: 100%;
  min-height: 60px;
  margin-bottom: 12px;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list {
  float: left;
  width: 77%;
  position: relative;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 12px;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info {
  padding-left: 72px;
  box-sizing: border-box;
  color: #999999;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info .game_name {
  padding-top: 11px;
  font: 14px/21px \5FAE\8F6F\96C5\9ED1;
  color: #343434;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info .game_indate {
  font: 9px/18px \5FAE\8F6F\96C5\9ED1;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info .game_progress {
  font: 11px/22px \5FAE\8F6F\96C5\9ED1;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info .game_progress p {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 12px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: #E4E4E4;
  box-sizing: border-box;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_list .game_info .game_progress span {
  display: block;
  height: 12px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #a8e844;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_link {
  float: right;
  width: 23%;
  margin-top: 12px;
}
.sshc_content_gifts .gift_bag .gift_bag_content .gift_bag_link a {
  display: block;
  height: 31px;
  color: #ffffff;
  text-align: center;
  font: 14px/31px \5FAE\8F6F\96C5\9ED1;
  background-color: #00a7fc;
  border-radius: 6px;
}
.sshc_content_gifts .gift_bag .gift_bag_details {
  padding: 0 8px 5px;
  font: 9px/20px \5FAE\8F6F\96C5\9ED1;
  color: #343434;
}
.sshc_content_gifts .gift_bag .gift_bag_other .game_tit {
  margin: 0 7px;
  height: 38px;
  color: #00a0fc;
  font: 13px/27px \5FAE\8F6F\96C5\9ED1;
}
.sshc_content_gifts .gift_bag .gift_bag_other .game_tit span {
  display: inline-block;
  padding: 0 30px;
  height: 36px;
  border-bottom: 2px solid #009ffd;
}
.gift_other_list .gift_bag_module{
  border-top: 1px solid #E8E8E8;
}
.sshc_content_gifts .gift_bag .gift_bag_flex {
  height: 30px;
  border-top: 1px solid #E8E8E8;
  font: 11px/30px \5FAE\8F6F\96C5\9ED1;
  color: #959595;
  text-align: center;
}
.sshc_content_gifts .gift_bag .gift_bag_flex i {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
.sshc_content_yxts{
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}
.sshc_content_yxts .games_title {
  margin-bottom: 10px;
}
.sshc_content_yxts .swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.sshc_content_yxts .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
}

.sshc_content_yxts .swiper-slide img {
  display: block;
  width: 100%;
}

.sshc_content_yxts .swiper-slide-active,.sshc_content_yxts .swiper-slide-duplicate-active{
  transform: scale(1);
}
.sshc_content_yxts .swiper-pagination{
  bottom: -30px;
}

.sshc_content_yxts .swiper-pagination-bullet{
  width: 19px;
  height: 18px;
  opacity: .8;
  background: url(../images/swiper_btn.png) no-repeat;
  background-size: 100% 100%;
}
.sshc_content_yxts .swiper-pagination-bullet-active {
  opacity: 1;
}

.sshc_content_footer {
  padding: 30px 0px 0px 0px;
  background-color: #2f2c2b;
}
.sshc_content_footer .footer_img {
  text-align: center;
}
.sshc_content_footer .footer_img .code_img {
  display: inline-block;
  width: 130px;
  margin-right: 10px;
}
.sshc_content_footer .footer_img .code_img img {
  display: block;
  width: 100%;
}
.sshc_content_footer .footer_img .logo_img {
  display: inline-block;
  vertical-align: top;
  width: 170px;
}
.sshc_content_footer .footer_img .logo_img img {
  display: block;
  width: 90px;
  margin: 0 auto;
}
.sshc_content_footer .footer_img .logo_img p {
  margin-top: 10px;
  height: 24px;
  font: 12px/24px \5FAE\8F6F\96C5\9ED1;
  text-align: center;
  color: #311302;
  background-color: #ae9e79;
  border-radius: 10px;
}
.sshc_content_footer .footer_img .tips_img {
  width: 100%;
  text-align: center;
  padding: 4px 0 16px;
  font: 13px/24px \5FAE\8F6F\96C5\9ED1;
  color: #CCCCCC;
}
.sshc_content_footer .footer_img .tips_img span {
  color: #d39e1e;
}
.sshc_content_footer .go_back a {
  display: block;
  width: 191px;
  height: 35px;
  margin: 0 auto;
  font: 0/0 a;
  overflow: hidden;
  background: url(../images/go_back.png) no-repeat;
  background-size: 100% 100%;
}
.sshc_content_footer .footer_info {
  padding: 16px 0 20px;
  font: 12px/18px \5FAE\8F6F\96C5\9ED1;
  color: #dfdfdf;
  text-align: center;
}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
  .sshc_content_gifts .gift_bag .gift_bag_details {
    padding: 0 72px 5px;
  }
}

/* 横屏 */
@media screen and (orientation: landscape) {
	.sshc_content_gifts .gift_bag .gift_bag_details {
    padding: 0 72px 5px;
  }
}